<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choisissez une plage disponible</title>
    <link rel="stylesheet" href="/css/agenda.css">
    <script src="/js/agenda.js" defer></script>
</head>
<body>
    <%- include('header'); -%>
    <h1>Choisissez une plage disponible</h1>
    <div class="datepicker">
        <!-- Barre de navigation mois/année -->
        <div class="datepicker-top">
            <div class="month-selector">
                <button class="arrow" aria-label="Mois précédent">
                    <span>&lt;</span>
                </button>
                <span class="month-name" aria-live="polite"></span>
                <button class="arrow" aria-label="Mois suivant">
                    <span>&gt;</span>
                </button>
            </div>
        </div>

        <!-- Conteneur du calendrier -->
        <div class="datepicker-calendar">
            <span class="day">Lu</span>
            <span class="day">Ma</span>
            <span class="day">Me</span>
            <span class="day">Je</span>
            <span class="day">Ve</span>
            <span class="day">Sa</span>
            <span class="day">Di</span>
        </div>
    </div>
    <%- include('footer'); -%>
</body>
</html>
