<%- include('header'); -%>

<main id="boite">
    <h1 id="title">AJOUTER UN PRODUIT</h1>

    <section id="ajout">
        <article class="box" id="box1">
            <p>Nom de l'article</p>
            <div></div>
            <p>Catégorie</p>
            <div></div>
        </article>
        <article class="box" id="box2">
            <p>Poids</p>
            <div></div>
            <p>Dimensions</p>
            <div></div>
            <p>Prix</p>
            <div></div>
        </article>
        <article class="box" id="box3">
            <p>Description</p>
            <div></div>
            <div></div>
        </article>
    </section>

</main>

<%- include('footer'); -%>