<%- include('header'); -%>

<main id="boite">
    <h1 id="title">AJOUTER UN PRODUIT</h1>

    <section id="ajout">
        <form class="box" id="box1" action="/ajt" method="post">

            <label class= "titre-ajt" for="nom_article">Nom de l'article</label>
            <input type="text" id="nom_article" name="nom_article">

            <label  class="titre-ajt" for="type">Type</label>
            <input type="text" id="categorie" name="categorie   ">

            <label  class="titre-ajt" for="marque">Marque</label>
            <input type="text" id="poids" name="marque">

            <label  class="titre-ajt" for="model">Model</label>
            <input type="text" id="model" name="model">

            <label  class="titre-ajt" for="prix">Prix</label>
            <input type="number" id="prix-ajt" name="prix" >  

            <label  class="titre-ajt" for="image">Image</label>
            <input type="text" id="image" name="image">

            <button type="submit">Ajouter le produit</button>
        </form>

       

        
    </section>

</main>

<%- include('footer'); -%>
