<%- include('header'); -%>

<main>
    <div id="filtre"> 
        <h1>Filtre</h1>

    </div>

    <div id="containerphares" class="container">
        <h1>
            Nos machines de cardio-training
        </h1>
        <section id="imagesphares">
            <article class="articlesphares">
                <img id="tapis-course" src="./image/tapis-de-course.jpg" alt="un tapis de course">
                <p>Tapis de course multiusages</p>
                <div class="etoiles">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>(12)</p>
                </div>
                <p>50€/Mois</p>
                <p>Demander un devis</p>
                <p>Voir le produit</p>
            </article>

            <article class="articlesphares">
                <img id="escalier" class="imgmatos" src="./image/powerlift.jpg" alt="un escalier">
                <p>EscalFit Power Pro</p>
                <div class="etoiles">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>(6)</p>
                </div>
                <p>70€/Mois</p>
                <p>Demander un devis</p>
                <p>Voir le produit</p>
            </article>

            <article class="articlesphares">
                <img id="velo" class="imgmatos" src="./image/velo-biking.jpg" alt="velo d'appartement">
                <p>Vélo de biking intérieur</p>
                <div class="etoiles">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>(25)</p>
                </div>
                <p>60€/Mois</p>
                <p>Demander un devis</p>
                <p>Voir le produit</p>
            </article>

            
        </section>

        <section id="imagesphares">
            <article class="articlesphares">
                <img id="tapis-course" src="./image/tapis-de-course.jpg" alt="un tapis de course">
                <p>Tapis de course multiusages</p>
                <div class="etoiles">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>(12)</p>
                </div>
                <p>50€/Mois</p>
                <p>Demander un devis</p>
                <p>Voir le produit</p>
            </article>

            <article class="articlesphares">
                <img id="escalier" class="imgmatos" src="./image/powerlift.jpg" alt="un escalier">
                <p>EscalFit Power Pro</p>
                <div class="etoiles">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>(6)</p>
                </div>
                <p>70€/Mois</p>
                <p>Demander un devis</p>
                <p>Voir le produit</p>
            </article>

            <article class="articlesphares">
                <img id="velo" class="imgmatos" src="./image/velo-biking.jpg" alt="velo d'appartement">
                <p>Vélo de biking intérieur</p>
                <div class="etoiles">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>(25)</p>
                </div>
                <p>60€/Mois</p>
                <p>Demander un devis</p>
                <p>Voir le produit</p>
            </article>

           
            
        </section>
    </div>

</main>

<%- include('footer'); -%>