<%- include('header'); -%>

<main id="page-compte">

<div id="lemain">
    <section id="compte-photo" class="compte">
        <img src="/image/icone-compte.png">
        <div>
            <h1>Jean Dupont</h1>
            <p>Nom d'utilisateur : jdupont</p>
    
        </div>
    </section>
    
    <section id="compte-infos" class="compte">
        <article class="groupe-info">
            <h3>Nom :</h3>
            <p>Dupont</p>
        </article>
        <article class="groupe-info">
            <h3>Prenom :</h3>
            <p>...</p>
        </article>
        <article class="groupe-info">
            <h3>Date de naissance :</h3>
            <p>...</p>
        </article>
        <article class="groupe-info">
            <h3>Mot de passe : </h3>
            <p>...</p>
        </article>
        <article class="groupe-info">
            <h3>Adresse e-mail :</h3>
            <p>...</p>
        </article>
    
        <h3 id="suppression">Supprimer mon compte</h3>
    
    
    </section>

</div>

</main>




<%- include('footer'); -%>
