<link rel="stylesheet" href="./css/formulaire.css">
<%= error %>


<div class="form-container">
	<p class="title">Se connecter</p>
	<form action="/connexion" method="post" class="form">
		<div class="input-group">
			<label for="login">Nom d'utilisateur</label>
			<input type="text" name="login" id="login" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Mot de passe</label>
			<input type="password" name="password" id="password" placeholder="">
	
		</div>

		<input type="submit"class="sign"/>
		
	</form>