<footer>
    <article>
        <h3 class="footer-text">
            <a href="/catalogue">
                Machines de cardio-training
            </a>
        </h3>
        <p class="footer-text" ><a href="/produit">Vélo de biking intérieur</a></p>
        <p class="footer-text" ><a href="/produit">Zwift PowerRide Pro</a></p>
        <p class="footer-text" ><a href="/produit">Rameur Kingston Pro</a></p>
    </article>
    <article>
        <h3 class="footer-text" >
            <a href="/catalogue">
                Machines de musculation
            </a>        
        </h3>
        <p class="footer-text" ><a href="/produit">Presse Dynamique Intégrale</a></p>
        <p class="footer-text" ><a href="/produit">Abs Central Performance</a></p>
        <p class="footer-text" ><a href="/produit">Rameur Kingston Pro</a></p>
    </article>
    <article>
        <h3 class="footer-text" >
        <a href="/catalogue">
            Machines de renforcement
        </a>
        </h3>
        <p class="footer-text" ><a href="/produit">Core Stability Platfrom</a></p>
        <p class="footer-text" ><a href="/produit">Isokinetic Flexion System</a></p>
        <p class="footer-text" ><a href="/produit">Le Crusher Station</a></p>
    </article>
</footer>

</body>
</html>