<footer>
    <article>
        <h3 class="footer-text">
            Machines de cardio-training
        </h3>
        <p class="footer-text" >Vélo de biking intérieur</p>
        <p class="footer-text" >Zwift PowerRide Pro</p>
        <p class="footer-text" >Rameur Kingston Pro</p>
    </article>
    <article>
        <h3 class="footer-text" >
            Machines de musculation
        </h3>
        <p class="footer-text" >Presse Dynamique Intégrale</p>
        <p class="footer-text" >Abs Central Performance</p>
        <p class="footer-text" >Rameur Kingston Pro</p>
    </article>
    <article>
        <h3 class="footer-text" >
            Machines de renforcement
        </h3>
        <p class="footer-text" >Core Stability Platfrom</p>
        <p class="footer-text" >Isokinetic Flexion System</p>
        <p class="footer-text" >Le Crusher Station</p>
    </article>
</footer>

</body>
</html>