<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/produit.css">
    <link rel="stylesheet" href="/css/compte.css">
    <link rel="stylesheet" href="/css/liste.css">
    <link rel="stylesheet" href="/css/ajoutproduit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Viga&display=swap"
        rel="stylesheet">
    <title>LocFit</title>
</head>

<body>

    <header>

        <div id="menu-deroulant">

              
        <img id="locfit-logo" src="/image/locfit.png" />

        
        </div>


        <div id="cherche">
            <form class="form">
                <label for="search">
                    <input required="" autocomplete="off" placeholder="chercher du matériel" id="search" type="text">
                    <div class="icon">
                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-on">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                stroke-linecap="round"></path>
                        </svg>
                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <button type="reset" class="close-btn">
                        <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </label>
            </form>
        </div>


        <!--<% if (isAuth==true && Role== "client" ) { %>
            <div class="icones">
                <img class="icone" src="/image/icone-loca.png" alt="icone de localisation">
                <img class="icone" id="panier" src="/image/icone-panier.png" alt="icone de panier">
                <a href="/utilisateurs/compte"><img class="icone" src="/image/icone-compte.png" alt="icone de compte"></a>
                <a href="/utilisateurs/connexion" id="connexion"><p>Connexion</p></a>
            </div>
                <% }else if (isAuth==true && Role== "admin" ) { %>
                    <div class="icones">
                        <a href="#" class="texthead">Ajouter un agent</a>
                        <a href="/utilisateurs/compte"><img class="icone" src="/image/icone-compte.png" alt="icone de compte"></a>
                        <a href="/utilisateurs/connexion" id="connexion"><p>Connexion</p></a>
                    </div>                        
                <% }else if (isAuth==true && Role== "agent" ) { %>
                    <div class="icones">
                    <a href="ajoutproduit.ejs" class="texthead">Liste des produits</a>
                    <a href="/utilisateurs/compte"><img class="icone" src="/image/icone-compte.png" alt="icone de compte"></a>
                    <a href="/utilisateurs/connexion" id="connexion"><p>Connexion</p></a>                        <% } %>
                    </div> -->


                    <div class="icones">
                        <img class="icone" src="/image/icone-loca.png" alt="icone de localisation">
                        <img class="icone" id="panier" src="/image/icone-panier.png" alt="icone de panier">
                        <a href="/utilisateurs/compte"><img class="icone" src="/image/icone-compte.png" alt="icone de compte"></a>
                        <a href="/utilisateurs/connexion" id="connexion"><p>Connexion</p></a>
                        <a href="/inscription">Inscription</a>
                    </div> 

    </header>