<%- include('header'); -%>

<main>
    <div>
        <img src="./image/vieux.png" alt="un vieux content de faire du sport">
    </div>

    <div>
        <h1>
            Catégories de matériels sportifs
        </h1>
    </div>
    
</main>

<%- include('footer'); -%>
