<%- include('header'); -%>

<main>
    <div id="containerimage">
        <img id="vieux" src="./image/vieux.png" alt="un vieux content de faire du sport">
    </div>

    <div id="containercatego">
        <h1>
            Catégories de matériels sportifs
        </h1>
        <article id="images-catego">
            <img id="cardio" src="./image/femme-tapis-course.jpeg" alt="femme qui court sur un tapis de course">
            <img id="muscu" src="./image/homme-muscu.jpg" alt="homme qui fait de la muscu">
            <img id="renfo" src="./image/renforcement.jpg" alt="homme qui renforce ses muscles">
        </article>
    </div>

    <div>
        <h1>

        </h1>
        <article>
            
        </article>
    </div>
    
</main>

<%- include('footer'); -%>
