<link rel="stylesheet" href="./css/formulaire.css">

<div class="form-container">
	<p class="title">S'inscrire</p>
	<form class="form">
		<div class="input-group">
			<label for="username">Nom d'utilisateur</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Mot de passe</label>
			<input type="password" name="password" id="password" placeholder="">
	
		</div>
		<button class="sign">Connexion</button>
	</form>