<%- include('header'); -%>

    <main id="liste">
        <h1 id="title">LISTE DES PRODUITS AFFICHÉS</h1>

        <section id="composant">
            <article id="categories">
                <div class="unecate">
                    <p>Nom</p>
                </div>
                <div class="unecate">
                    <p>Type</p>
                </div>
                <div class="unecate">
                    <p>Marque</p>
                </div>
                <div class="unecate">
                    <p>Modèle</p>
                </div>
                <div class="unecate">
                    <p>Prix</p>
                </div>
                <div class="unecate">
                    <p>Description</p>
                </div>
                <div class="unecate">
                </div>
                <div class="unecate">
                </div>
            </article>
            <hr></hr>
            <article id="lesproduits">

                <p class="element"> nom</p>
                <p class="element">machines de cardio</p>
                <p class="element">300kg</p>
                <p class="element">1m20</p>
                <p class="element">80€/mois</p>
                <p class="element">un vélo super cool</p>
                <button>Supprimer</button>
            </article>

            <div id="ajouterprod">
                <button id="bouton">Ajouter un produit</button>
            </div>
        </section>
    </main>

    <%- include('footer'); -%>