<%- include('header'); -%>
<main>
    <article id="produit">
        <div id="leProduit">
            <img src="./image/velo-biking.jpg" alt="velo d'appartement">
        </div>
        <div id="text">
            <div id="retour">
                <img src="./image/icone fleche.png" id="fleche">
                <p class="typo">Retour</p>
            </div>
            <h1 class="title">Vélo de Biking intérieur</h1>
            <p class="typo" id="description">Ceci est un vélo d'appartement de type spinning avec un cadre 
                noir robuste, un volant d'inertie visible et des réglages de 
                selle et de guidon. Il dispose également d'un support pour 
                accessoires et d'un écran pour suivre les performances.</p>
            <h2 class="title" id="prix">90€ / Mois</h2>
            <h1 class="title">60€ / Mois</h1>
            <div class="etoiles star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p class="typo">(12)</p>
            </div>
            <p class="typo" id="fiche">Voir la fiche technique</p>
            <p class="typo bouton" id="devis">Faire un devis</p>
            <p class="typo bouton" id="ajtpanier"> <img src="./image/icone-panier.png"> Ajouter au panier</p>
        </div>
    </article>

    <article>
        <div>COMMENTAIRES</div>
        
    </article>
</main>

<%- include('footer'); -%>