<%- include('header'); -%>
<main>
    <article>
        <img id="?" src="./image/velo-biking.jpg" alt="velo d'appartement">
        <div id="text">
            <div>
                <img src="" alt="">
                <p>Retour</p>
            </div>
            <h1>Vélo de Biking intérieur</h1>
            <p>Ceci est un vélo d'appartement de type spinning avec un cadre 
                noir robuste, un volant d'inertie visible et des réglages de 
                selle et de guidon. Il dispose également d'un support pour 
                accessoires et d'un écran pour suivre les performances.</p>
            <h2>90€ / Mois</h2>
            <h1>60€ / Mois</h1>
            <p>Voir la fiche technique</p>
            <h2>Faire un devis</h2>
            <h2>Ajouter au panier</h2>
        </div>
    </article>
</main>

<%- include('footer'); -%>