#produit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 200px 50px 315px;
}

#fleche{
    height: 20px;
    width: 20px;
    margin-top: 15px;
    padding-right: 6px;
}

#retour{
    display: flex;
    margin-top: 10px;
    margin-bottom: -10px;
}
#retour p:hover{
    text-decoration: underline;
}

#leProduit img{
    height: 400px;
    width: 380px;
    border: 1.5px solid black;
    padding: 30px;
    margin-top: 20px;
}

.typo{
    font-family: 'Bahnschrift';
}

.title{
    font-family: 'Viga';
}

#text{
    padding: 20px;
    margin-left: 30px;
}

#text h1{
    font-size: 1.95rem;
}

#description{
    text-align: justify;
}

#prix{
    font-size: 1.2rem;
    text-decoration: line-through;
    margin-top: 35px;
    margin-bottom: -20px;
}

.bouton{
    font-size: 1rem;
    background-color: #C3C637;
    width: 155px;
    padding: 3px;
    margin-right: 195px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 2px grey;
}

.bouton img{
    height: 15px;
    width: 15px;
}
#fiche{
    font-size: 0.8rem;
    text-decoration: underline;
}

#devis{
    margin-top: -7px;
    margin-bottom: -10px;
}

.star{
    margin-left: 0px;
    margin-top: -15px;
}

#lescomm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.comm{
    height: auto;
    width: 70%;
    flex-wrap: wrap;
    border: 3px solid #B4CBDC;
    margin: 50px;
    margin-bottom: 50px;
    padding: 10px 0px 10px 20px;
}

#commentairetitle{
    display: flex;
    font-family: 'Viga';
    font-size: 1.95rem;
    width: 70%;
    margin: 20px 0px -30px 60px;
    align-items: center;
}

#commentairetitle hr {
    border: 1.3px solid black;
    margin-left: 30px;
    width: 70%;
}
        
.comm p{
    font-family: 'Bahnschrift';
}

.section1{
    display: flex;
}

.section2{
    margin-top: -35px;
    margin-left: 5px;
}
.section2 h1{
    font-family: 'Viga';
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.imgcompte{
    height: 80px;
    width: 80px;
}


